/* .container{
    margin: 0 auto;
} */
.logo img{
    width: 100px;
    height: 100px;
}
.khoahocdadangky{
    border: 1px solid black;
}
.logo{
    border: 1px solid black;
}
.danhmuc{
    border: 1px solid black;
}
.timkiem{
    border: 1px solid black;
}
.dangnhapdangxuatdangky{
    border: 1px solid black;
}